<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Framework Data Provider for PostgreSQL Server"
           type="Npgsql.NpgsqlFactory, Npgsql"
           />
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <sources>
      <source name="EdmGen06" switchValue="Verbose">
        <listeners>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
